table {
    padding: 5;
    font-family: arial, sans-serif;
    border: 1;
    width: 100%;
}

th {
    background-color: mediumspringgreen;
    border: 1px solid rgb(229, 25, 25);
    text-align: center;
    padding: 5px;
}

td {
    border: 1px solid rgb(229, 25, 25);
    text-align: center;
    padding: 5px;
}

tr {
    background-color: rgb(240, 240, 240);
}

