body {
    background-image: url('uploads/documents/46442.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

table {
    padding: 5;
    font-family: arial, sans-serif;
    border: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-collapse: collapse;
}

th {
    background-color: mediumspringgreen;
    border: 3px solid rgb(229, 25, 25);
    text-align: center;
    padding: 5px;
}

td {
    border: 3px solid rgb(229, 25, 25);
    text-align: center;
    padding: 5px;
}

tr {
    background-color: rgba(240, 240, 240, 0.9);
}

.timestamp {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-family: monospace;
}

.hidden-timestamp {
    display: none;
}

a {
    background-color: #00000000;
}

h2 {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    padding: 1px;
    border-radius: 3px;
    text-decoration: none;
    color: #00000000;
}